* {
    font-family: 'Fira Code', monospace;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
}

body {
    border: 1px solid black;
    width: 1526px;
    height: 798px;
}

.fundo-tela {
    position: absolute;
    z-index: -1;
    overflow: hidden;
    opacity: 0.6;
    display: flex;
}

.logo {
    margin-left: 10px;
    padding-top: 10px;
    width: 2%;
}

main {
    display: flex;
    /* margin-bottom: 50px; */
    margin-left: 120px;
}

.text-area {
    background-color: #bfe7d2f1;
    border: 2px solid #205f3e;
    border-radius: 10px;
    color: #4CB27C;
    margin-top: 90px;
    text-transform: lowercase;
}

::placeholder { color: #4CB27C;
} .text-area:focus {
    outline: none;
}

.mensagem {
    background: white;
    text-align: center;background-image: url(/images/desenho_2x.png);    
    background-repeat: no-repeat;
    background-position: center;
    border: 2px solid #4CB27C;
    border-radius: 34px;
    color: #4CB27C;
    margin-left: 138px;
    margin-top: 30px;
    padding-left: 20px;
    position: fixed;
} 

.mensagem:focus {
    outline: none;
}

.botoes {
    display: flex;
    margin-top: 18px;
}

.btnEncriptar {
    background: #4CB27C;
    border: 1px solid #4CB27C;
    border-radius: 24px;
    color: white;
    cursor: pointer;
    height: 67px;
    margin-left: 30px;
    width: 280px;
    transition: 0.2s;
}

.btnEncriptar:hover {
    background-color: #205f3e;
    transform: scale(1.1);
}

.btnDescriptografar {
    background: #4CB27C;
    border: 1px solid #4CB27C;
    border-radius: 24px;
    color: white;
    cursor: pointer;
    height: 67px;
    margin-left: 30px;
    width: 328px;
    transition: 0.2s;
}

.btnDescriptografar:hover {
    background-color: #205f3e;
    transform: scale(1.1);
}

.btn-encriptar {
    background-color: #4CB27C;
    border: 1px solid #4CB27C;
    border-radius: 24px;
    color: white;
    cursor: pointer;
    height: 67px;
    width: 328px;
}

.btnCopiar {
    position: relative;
    border: 1px solid #4CB27C;
    border-radius: 24px;
    color: #4CB27C;
    cursor: pointer;
    height: 67px;
    margin-left: 175px;
    margin-top: 450px;
    width: 336px;
    transition: 0.2s all ease-in-out;
}

.btnCopiar:hover {
    background-color: #205f3e;
}

.informacao {
    color: #4CB27C;
    font-size: 18px;
}

.alerta p {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    width: auto;
    opacity: 70%;
    line-height: 8px;
    margin-top: 190px;
    margin-left: 55px;
}

.alerta p::before {
    content: url(/images/exclamacao.png);
}

/*
.textArea {
    position: absolute;
    left: 200px;
    top: 200px;
}

.texto-entrada {
    width: 450px;
}




.alerta::before {
    content: url(/images/exclamacao.png);
}

li {
    list-style-type: none;
    display: flex;
    margin-top: 450px;
}

.botoes {
    display: flex;
}

.botoes li input {
    text-align: center;
    padding: 20px;
    width: 180px;
    border-radius: 24px;
}

.btnEncriptar .criptografar {
    background: #4CB27C;
    margin-left: 150px;
}

.btnDescriptografar .descriptografar {
    background: #D8DFE8;
    margin-left: 10px;
}

.retangulo {
    position: absolute;
    background-color: white;
    border: 2px solid #989a91;
    border-radius: 30px;
    overflow: hidden;
    width: 450px;
    height: 544px;
    left: 850px;
    top: 40px;
}

.texto_saida {
    display: flex;
    margin-left: 130px;
    margin-top: 30px;
}

.desenho {
    position: absolute;
    top: 153px;
    left: 130px;
}

.valida_mensagem .btnCopiar {
    position: absolute;
    margin-left: 200px;
    text-align: center;
    width: 60px;
    height: 30px;
    background: #4CB27C;
    color: white;
} */