* {
    font-family: 'Fira Code', monospace;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
}

body {
    border: 1px solid black;
    width: 1330px;
    height: 600px;
}

.fundo-tela {
    position: absolute;
    z-index: -1;
    overflow: hidden;
    opacity: 0.6;
    display: flex;
}

.logo {
    margin-left: 10px;
    padding-top: 10px;
    width: 2%;
}

main {
    display: flex;
    margin-bottom: 50px;
    margin-left: 120px;
}

.text-area {
    background-color: #bfe7d2f1;
    border: 2px solid #205f3e;
    border-radius: 10px;
    color: #4CB27C;
    margin-top: 90px;
    text-transform: lowercase;
}

::placeholder { color: #4CB27C;
} .text-area:focus {
    outline: none;
}

.mensagem {
    background: white;
    text-align: center;
    background-image: url(./images/desenho_2x.png);    
    background-repeat: no-repeat;
    background-position: center;
    border: 2px solid #4CB27C;
    border-radius: 34px;
    box-shadow: 1px 1px 5px rgba(0, 0, 1, 0.692);
    color: #4CB27C;
    margin-left: 125px;
    padding-left: 10px;
    position: fixed;
} 

.mensagem:focus {
    outline: none;
}

.botoes {
    display: flex;
    margin-top: 18px;
}

.btnEncriptar {
    background: #4CB27C;
    border: 1px solid #4CB27C;
    border-radius: 24px;
    color: white;
    cursor: pointer;
    height: 67px;
    margin-left: 30px;
    width: 280px;
    transition: 0.2s;
}

.btnEncriptar:hover {
    background-color: #205f3e;
    transform: scale(1.1);
}

.btnDescriptografar {
    background: #4CB27C;
    border: 1px solid #4CB27C;
    border-radius: 24px;
    color: white;
    cursor: pointer;
    height: 67px;
    margin-left: 30px;
    width: 328px;
    transition: 0.2s;
}

.btnDescriptografar:hover {
    background-color: #205f3e;
    transform: scale(1.1);
}

.btn-encriptar {
    background-color: #4CB27C;
    border: 1px solid #4CB27C;
    border-radius: 24px;
    color: white;
    cursor: pointer;
    height: 67px;
    width: 328px;
}

.btnCopiar {
    position: relative;
    border: 1px solid #4CB27C;
    border-radius: 24px;
    color: #4CB27C;
    cursor: pointer;
    height: 47px;
    margin-left: 190px;
    margin-top: 390px;
    width: 236px;
    transition: 0.2s all ease-in-out;
}

.btnCopiar:hover {
    background-color: #205f3e;
    color: white;
}

.informacao {
    color: #4CB27C;
    font-size: 18px;
}

.alerta p {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    width: auto;
    opacity: 70%;
    line-height: 8px;
    margin-top: 190px;
    margin-left: 55px;
}

.alerta p::before {
    content: url(./images/exclamacao.png);
}
